<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Dashboard</h4>

        <section>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-users"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">
                                            Cloud Accounts
                                        </p>
                                        <h4 class="card-title">
                                            {{ getCloudAccounts() }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-money"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Cost</p>
                                        <h4 class="card-title">$ {{ cost }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-map-marker"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Regions</p>
                                        <h4 class="card-title">
                                            {{ regions.length }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Cloud Service Map</h4>
                            <p class="card-category">
                                List of regions with running or active servers
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="mapregions">
                                <div class="map"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Cost breakdown</h4>
                            <p class="card-category">
                                Number of Amazon EC2 Instances by Region
                            </p>
                        </div>
                        <div class="card-body">
                            <div>
                                <label for="">Group by</label>
                                <select
                                    class="form-control"
                                    [ngModel]="groupBy"
                                    (ngModelChange)="onGroupByChanged($event)"
                                >
                                    <option value="account">
                                        Cloud account
                                    </option>
                                    <option value="provider">
                                        Cloud provider
                                    </option>
                                    <option value="region">Cloud region</option>
                                </select>
                            </div>
                            <canvas id="monthlyCostBreakdownChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
