<div class="main-header">
    <div class="logo-header">
        <a class="logo" href="index.html">
            <img src="./assets/img/komiser.svg"
        /></a>
        <button
            aria-controls="sidebar"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler sidenav-toggler ml-auto"
            data-target="collapse"
            data-toggle="collapse"
            type="button"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="topbar-toggler more">
            <i class="la la-ellipsis-v"></i>
        </button>
    </div>
</div>
<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <ul class="nav">
            <li
                class="nav-item"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <a routerLink="/">
                    <i class="la la-home"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/inventory">
                    <i class="la la-cubes"></i>
                    <p>Inventory</p>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/notifications">
                    <i class="fa fa-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>

            <hr />
            <li
                class="nav-item"
                routerLinkActive="active"
                *ngFor="let view of views"
            >
                <a routerLink="/views/{{ view.id }}">
                    <i class="fa fa-bar-chart"></i>
                    <p>{{ view.name }}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-panel">
    <router-outlet></router-outlet>
</div>
