.service-logo {
    width: 30px;
}

.notif-box {
    width: 370px;
}

.notif-content {
    width: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0vh;
    margin-top: 50px;
}

.photo img {
    object-fit: contain !important;
}

.logo img {
    padding-top: 16px;
    width: 178px;
}

@media screen and (max-width: 991px) {
    .logo img {
        padding-top: 0;
        width: 124px;
    }
}
