<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Data & AI</h4>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center icon-warning">
									<i class="la la-pie-chart text-warning"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Kinesis Streams</p>
									<h4 class="card-title">150GB</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-bar-chart text-success"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Elasticsearch</p>
									<h4 class="card-title">$ 1,345</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-times-circle-o text-danger"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Data Pipeline</p>
									<h4 class="card-title">23</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>