.card-golang {
    background: #72cedd !important;
}

.card-csharp {
    background: #9e4d99 !important;
}

.card-python {
    background: #ffd344 !important;
}

.card-docker {
    background: #009bc6 !important;
}

.costPerInstanceTypeChart {
    min-height: 150px;
}

.lambdaInvocationsChart {
    min-height: 150px;
}

.lambdaErrorsChart {
    min-height: 150px;
}
