<section>
    <div class="row">
      <div class="col-md-3">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <img src="https://cdn.komiser.io/images/services/aws/security_group.png" class="gcp-logo" />
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">Firewall Rules</p>
                  <h4 class="card-title" *ngIf="!loadingFirewallRules">{{firewallRules}}</h4>
                  <div class="spinner-border spinner-border-sm text-muted" *ngIf="loadingFirewallRules"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <img src="https://cdn.komiser.io/images/services/aws/acm.png" class="gcp-logo" />
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">SSH Keys</p>
                  <h4 class="card-title" *ngIf="!loadingSSHKeys">{{sshKeys}}</h4>
                  <div class="spinner-border spinner-border-sm text-muted" *ngIf="loadingSSHKeys"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>