<section>
    <div class="row">
      <div class="col-md-3">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <img src="https://cdn.komiser.io/images/alb.png" class="gcp-logo" />
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">Load Balancers</p>
                  <h4 class="card-title" *ngIf="!loadingLoadBalancers">{{loadBalancers}}</h4>
                  <div class="spinner-border spinner-border-sm text-muted" *ngIf="loadingLoadBalancers"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <img src="https://cdn.komiser.io/images/cdn-endpoint.png" class="gcp-logo" />
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">Private Networks</p>
                  <h4 class="card-title" *ngIf="!loadingPrivateNetworks">{{privateNetworks}}</h4>
                  <div class="spinner-border spinner-border-sm text-muted" *ngIf="loadingPrivateNetworks"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <img src="https://cdn.komiser.io/images/record.png" class="gcp-logo" />
              </div>
            </div>
            <div class="col-7 d-flex align-items-center">
              <div class="numbers">
                <p class="card-category">DNS Domains</p>
                <h4 class="card-title" *ngIf="!loadingDNSDomains">{{dnsDomains}}</h4>
                <div class="spinner-border spinner-border-sm text-muted" *ngIf="loadingDNSDomains"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  </section>