<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Inventory</h4>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="fa fa-cloud"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Cloud Accounts</p>
                                    <h4 class="card-title">{{getCloudAccounts()}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="fa fa-globe"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Regions</p>
                                    <h4 class="card-title">{{regions.size}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="fa fa-th"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Resources</p>
                                    <h4 class="card-title">{{services.length}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <i *ngIf="!term" class="la la-search search-icon"></i>
                    <i *ngIf="term" class="la la-times search-icon clickable" (click)="cleanSelection()"></i>
                    <input type="text" class="new-input border-bottom"
                        placeholder="Search by tags, service, name, region..." type="text" data-form-type="”other”"
                        autocomplete="off" [(ngModel)]="term" />
                    <table class="table table-hover">
                        <thead>
                            <th>Provider</th>
                            <th >Account</th>
                            <th>Region</th>
                            <th>Service</th>
                            <th style="width: 15%;">Name</th>
                            <th style="width: 15%;">Tags</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let service of services | search: term">
                                <td>
                                    <img src="assets/img/aws.png" style="width: 25px;"/>
                                </td>
                                <td>{{ service.account }}</td>
                                <td>{{ service.region }}</td>
                                <td>
                                    <badge class="badge badge-secondary" [style.background-color]="stringToColour(service.service)" >{{ service.service }}</badge>
                                </td>
                                <td>{{ service.name }}</td>
                                <td >{{ service.tags }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>