.new-input {
    width: 100%;
    height: 100%;
    padding: 16px 50px;
    font-size: 14px;
    border: none;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.new-input:focus {
    border-bottom: 1px solid #dee2e6 !important;
}

.search-icon {
    position: absolute;
    top: 17px;
    left: 24px;
    font-size: 18px;
    color: #999999;
}
