<section>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <img
                                    src="https://cdn.komiser.io/images/services/aws/security_group.png"
                                    class="gcp-logo"
                                />
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Firewalls</p>
                                <h4
                                    class="card-title"
                                    *ngIf="!loadingFirewalls"
                                >
                                    {{ firewalls }}
                                </h4>
                                <div
                                    class="spinner-border spinner-border-sm text-muted"
                                    *ngIf="loadingFirewalls"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <img
                                    src="https://cdn.komiser.io/images/services/aws/acm.png"
                                    class="gcp-logo"
                                />
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Certificates</p>
                                <h4
                                    class="card-title"
                                    *ngIf="!loadingCertificates"
                                >
                                    {{ certificates }}
                                </h4>
                                <div
                                    class="spinner-border spinner-border-sm text-muted"
                                    *ngIf="loadingCertificates"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <img
                                    src="https://cdn.komiser.io/images/services/aws/acm.png"
                                    class="gcp-logo"
                                />
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">
                                    Expired Certificates
                                </p>
                                <h4
                                    class="card-title"
                                    *ngIf="!loadingExpiredCertificates"
                                >
                                    {{ expiredCertificates }}
                                </h4>
                                <div
                                    class="spinner-border spinner-border-sm text-muted"
                                    *ngIf="loadingExpiredCertificates"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <img
                                    src="https://cdn.komiser.io/images/services/aws/acm.png"
                                    class="gcp-logo"
                                />
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Profiles</p>
                                <h4 class="card-title" *ngIf="!loadingProfiles">
                                    {{ profiles }}
                                </h4>
                                <div
                                    class="spinner-border spinner-border-sm text-muted"
                                    *ngIf="loadingProfiles"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <img
                                    src="https://cdn.komiser.io/images/services/aws/acm.png"
                                    class="gcp-logo"
                                />
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Security Groups</p>
                                <h4
                                    class="card-title"
                                    *ngIf="!loadingSecurityGroups"
                                >
                                    {{ securityGroups }}
                                </h4>
                                <div
                                    class="spinner-border spinner-border-sm text-muted"
                                    *ngIf="loadingSecurityGroups"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <img
                                    src="https://cdn.komiser.io/images/services/aws/acm.png"
                                    class="gcp-logo"
                                />
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Security Rules</p>
                                <h4
                                    class="card-title"
                                    *ngIf="!loadingSecurityRules"
                                >
                                    {{ securityRules }}
                                </h4>
                                <div
                                    class="spinner-border spinner-border-sm text-muted"
                                    *ngIf="loadingSecurityRules"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
