<div class="content">
		<div class="container-fluid">
		   <h4 class="page-title">Dashboard</h4>
		   <div class="row">
			  <div class="col-md-3">
				 <div class="card card-stats">
					<div class="card-body">
					   <div class="row">
						  <div class="col-5">
							 <div class="icon-big text-center">
								<i class="la la-users"></i>
							 </div>
						  </div>
						  <div class="col-7 d-flex align-items-center">
							 <div class="numbers">
								<p class="card-category">IAM Users</p>
								<h4 class="card-title">{{iamRoles}}</h4>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
			  <div class="col-md-3">
				 <div class="card card-stats">
					<div class="card-body">
					   <div class="row">
						  <div class="col-5">
							 <div class="icon-big text-center">
								<i class="la la-money"></i>
							 </div>
						  </div>
						  <div class="col-7 d-flex align-items-center">
							 <div class="numbers">
								<p class="card-category">Bill</p>
								<h4 class="card-title">$ {{currentBill}}</h4>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
			  <div class="col-md-3">
				 <div class="card card-stats">
					<div class="card-body">
					   <div class="row">
						  <div class="col-5">
							 <div class="icon-big text-center">
								<i class="la la-street-view"></i>
							 </div>
						  </div>
						  <div class="col-7 d-flex align-items-center">
							 <div class="numbers">
								<p class="card-category">Regions</p>
								<h4 class="card-title">{{usedRegions}}</h4>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
			  <div class="col-md-3">
				 <div class="card card-stats card-danger">
					<div class="card-body">
					   <div class="row">
						  <div class="col-5">
							 <div class="icon-big text-center">
								<i class="la la-warning"></i>
							 </div>
						  </div>
						  <div class="col-7 d-flex align-items-center">
							 <div class="numbers">
								<p class="card-category">Alarms</p>
								<h4 class="card-title">{{redAlarms}}</h4>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
		   </div>
		   <div class="row">
			  <div class="col-md-12">
				 <div class="card">
					<div class="card-header">
					   <h4 class="card-title">Elastic Compute Cloud</h4>
					   <p class="card-category">Number of instances per AWS region.</p>
					</div>
					<div class="card-body">
					   <div class="mapregions">
						  <div class="map">
							 <span>Alternative content for the map</span>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
		   </div>
		   <div class="row row-card-no-pd">
			  <div class="col-md-4">
				 <div class="card">
					<div class="card-body">
					   <p class="fw-bold mt-1">My Balance</p>
					   <h4><b>$ {{currentBill}}</b></h4>
					   <a class="btn btn-primary btn-full text-left mt-3 mb-3" href="#"><i class="la la-plus"></i> Create Alert</a>
					</div>
					<div class="card-footer">
					   <ul class="nav">
						  <li class="nav-item">
							 <a class="btn btn-default btn-link" href="#"><i class="la la-history"></i> History</a>
						  </li>
						  <li class="nav-item ml-auto">
							 <a class="btn btn-default btn-link" href="#"><i class="la la-refresh"></i> Refresh</a>
						  </li>
					   </ul>
					</div>
				 </div>
			  </div>
			  <div class="col-md-5">
				 <div class="card">
					<div class="card-body">
					   <div class="progress-card" *ngFor="let service of mostUsedServices">
						  <div class="d-flex justify-content-between mb-1">
							 <span class="text-muted">{{service.name}}</span> <span class="text-muted fw-bold">{{service.cost | number:'2.2-2'}}$</span>
						  </div>
						  <div class="progress mb-2" style="height: 7px;">
							 <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar bg-primary" data-placement="top" data-toggle="tooltip" role="progressbar" [style.width]="service.cost / currentBill | percent:'1.0-1'" title="{{service.cost / currentBill | percent:'1.0-1'}}"></div>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
			  <div class="col-md-3">
				 <div class="card card-stats">
					<div class="card-body">
					   <p class="fw-bold mt-1">Statistic</p>
					   <div class="row">
						  <div class="col-5">
							 <div class="icon-big text-center icon-warning">
								<i class="la la-pie-chart text-warning"></i>
							 </div>
						  </div>
						  <div class="col-7 d-flex align-items-center">
							 <div class="numbers">
								<p class="card-category">Number</p>
								<h4 class="card-title">150GB</h4>
							 </div>
						  </div>
					   </div>
					   <hr>
					   <div class="row">
						  <div class="col-5">
							 <div class="icon-big text-center">
								<i class="la la-heart-o text-primary"></i>
							 </div>
						  </div>
						  <div class="col-7 d-flex align-items-center">
							 <div class="numbers">
								<p class="card-category">Followers</p>
								<h4 class="card-title">+45K</h4>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
		   </div>
		   <div class="row">
			  <div class="col-md-12">
				 <div class="card">
					<div class="card-header">
					   <h4 class="card-title">Last 6 Month Cost</h4>
					   <p class="card-category">Top most consumed services</p>
					</div>
					<div class="card-body">
					   <div class="chart" id="costHistoryChart"></div>
					</div>
				 </div>
			  </div>
		   </div>
		</div>
	 </div>