<div class="content">
		<div class="container-fluid">
			<h4 class="page-title">Component</h4>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Button Original</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<p class="demo">
								<button class="btn btn-default">Default</button>
								<button class="btn btn-primary">Primary</button>
								<button class="btn btn-info">Info</button>
								<button class="btn btn-success">Success</button>
								<button class="btn btn-warning">Warning</button>
								<button class="btn btn-danger">Danger</button>
								<button class="btn btn-link">Link</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Disabled Button</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<p class="demo">
								<button class="btn btn-default" disabled="disabled">Default</button>
								<button class="btn btn-primary" disabled="disabled">Primary</button>
								<button class="btn btn-info" disabled="disabled">Info</button>
								<button class="btn btn-success" disabled="disabled">Success</button>
								<button class="btn btn-warning" disabled="disabled">Warning</button>
								<button class="btn btn-danger" disabled="disabled">Danger</button>
								<button class="btn btn-link" disabled>Link</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Button Size</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<p class="demo">
								<button class="btn btn-primary btn-lg">Large</button>
								<button class="btn btn-primary">Normal</button>
								<button class="btn btn-primary btn-sm">Small</button>
								<button class="btn btn-primary btn-xs">Extra Small</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Button Type</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<p class="demo">
								<button class="btn btn-primary">Normal</button>
								<button class="btn btn-primary btn-border">Border</button>
								<button class="btn btn-primary btn-round">Round</button>
								<button class="btn btn-primary btn-border btn-round">Round</button>
								<button class="btn btn-primary btn-link">Link</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Checkbox</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<p class="demo">
								<label class="form-check-label">
									<input class="form-check-input" type="checkbox" value=""> <span class="form-check-sign">Unchecked</span></label>
								<label class="form-check-label">
									<input checked class="form-check-input" type="checkbox" value=""> <span class="form-check-sign">Checked</span></label>
								<label class="form-check-label">
									<input class="form-check-input" disabled type="checkbox" value=""> <span class="form-check-sign">Disabled</span></label>
								<label class="form-check-label">
									<input checked class="form-check-input" disabled type="checkbox" value=""> <span class="form-check-sign">Checked Disabled</span></label>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Radio</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<p class="demo">
								<label class="form-radio-label">
									<input class="form-radio-input" name="optionsRadios" type="radio" value=""> <span class="form-radio-sign">Unchecked</span></label>
								<label class="form-radio-label">
									<input checked class="form-radio-input" name="optionsRadios" type="radio" value=""> <span class="form-radio-sign">Checked</span></label>
								<label class="form-radio-label">
									<input class="form-radio-input" disabled type="radio" value=""> <span class="form-radio-sign">Disabled</span></label>
								<label class="form-radio-label">
									<input checked class="form-radio-input" disabled type="radio" value=""> <span class="form-radio-sign">Checked Disabled</span></label>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Bootstrap Switch</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<p class="demo">
								<input checked data-onstyle="default" data-toggle="toggle" type="checkbox">
								<input checked data-onstyle="primary" data-toggle="toggle" type="checkbox">
								<input checked data-onstyle="success" data-toggle="toggle" type="checkbox">
								<input checked data-onstyle="info" data-toggle="toggle" type="checkbox">
								<input checked data-onstyle="warning" data-toggle="toggle" type="checkbox">
								<input checked data-onstyle="danger" data-toggle="toggle" type="checkbox">
							</p>
							<p class="demo">
								<input checked data-onstyle="default" data-style="btn-round" data-toggle="toggle" type="checkbox">
								<input checked data-onstyle="primary" data-style="btn-round" data-toggle="toggle" type="checkbox">
								<input checked data-onstyle="success" data-style="btn-round" data-toggle="toggle" type="checkbox">
								<input checked data-onstyle="info" data-style="btn-round" data-toggle="toggle" type="checkbox">
								<input checked data-onstyle="warning" data-style="btn-round" data-toggle="toggle" type="checkbox">
								<input checked data-onstyle="danger" data-style="btn-round" data-toggle="toggle" type="checkbox">
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Bootstrap Dropdown</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<p class="demo"></p>
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button">Dropdown</button>
								<div aria-labelledby="dropdownMenu" class="dropdown-menu" role="menu" style="margin-left: 2em">
									<a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
									<div class="dropdown-divider"></div><a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<p></p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Progress Bar</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<p class="demo"></p>
									<div class="progress">
										<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width: 25%"></div>
									</div>
									<p></p>
									<p class="demo"></p>
									<div class="progress">
										<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar bg-info" role="progressbar" style="width: 50%"></div>
									</div>
									<p></p>
									<p class="demo"></p>
									<div class="progress">
										<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar bg-warning" role="progressbar" style="width: 75%"></div>
									</div>
									<p></p>
									<p class="demo"></p>
									<div class="progress">
										<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar bg-danger" role="progressbar" style="width: 100%"></div>
									</div>
									<p></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Bootstrap Input</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<p class="demo"></p>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" placeholder="Input" type="text" value="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group has-success">
										<input class="form-control" type="text" value="Success">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group has-error has-feedback">
										<input class="form-control" type="text" value="Error"> <span class="la la-times form-control-feedback"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="input-group has-icon">
											<input class="form-control" type="text" value="Group Addon">
											<div class="input-group-append">
												<span class="input-group-text input-group-icon"><i class="la la-keyboard-o"></i></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p></p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Nav Pills</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<ul class="nav nav-pills nav-primary">
								<li class="nav-item">
									<a class="nav-link active" href="#">Active</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Link</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Link</a>
								</li>
								<li class="nav-item">
									<a class="nav-link disabled" href="#">Disabled</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Pagination</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<p class="demo"></p>
							<ul class="pagination pg-primary">
								<li class="page-item">
									<a aria-label="Previous" class="page-link" href="#"><span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span></a>
								</li>
								<li class="page-item active">
									<a class="page-link" href="#">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">2</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">3</a>
								</li>
								<li class="page-item">
									<a aria-label="Next" class="page-link" href="#"><span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span></a>
								</li>
							</ul>
							<p></p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Slider</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<div class="demo">
								<div class="row">
									<div class="col-md-6">
										<div class="slider-primary" id="slider"></div>
										<div class="slider-success" id="slider-range"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Badge</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<span class="badge badge-count">Count</span> <span class="badge badge-default">Default</span> <span class="badge badge-primary">Primary</span> <span class="badge badge-info">Info</span> <span class="badge badge-success">Success</span> <span class="badge badge-warning">Warning</span> <span class="badge badge-danger">Danger</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>