<div class="content">
		<div class="container-fluid">
			<h4 class="page-title">Storage</h4>
			<div class="row">
					<div class="col-md-3">
					   <div class="card card-stats">
						  <div class="card-body ">
							 <div class="row">
								<div class="col-5">
								   <div class="icon-big text-center icon-warning">
									  <i class="la la-pie-chart text-warning"></i>
								   </div>
								</div>
								<div class="col-7 d-flex align-items-center">
								   <div class="numbers">
									  <p class="card-category">Number</p>
									  <h4 class="card-title">150GB</h4>
								   </div>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
					<div class="col-md-3">
					   <div class="card card-stats">
						  <div class="card-body ">
							 <div class="row">
								<div class="col-5">
								   <div class="icon-big text-center">
									  <i class="la la-bar-chart text-success"></i>
								   </div>
								</div>
								<div class="col-7 d-flex align-items-center">
								   <div class="numbers">
									  <p class="card-category">Revenue</p>
									  <h4 class="card-title">$ 1,345</h4>
								   </div>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
					<div class="col-md-3">
					   <div class="card card-stats">
						  <div class="card-body">
							 <div class="row">
								<div class="col-5">
								   <div class="icon-big text-center">
									  <i class="la la-times-circle-o text-danger"></i>
								   </div>
								</div>
								<div class="col-7 d-flex align-items-center">
								   <div class="numbers">
									  <p class="card-category">Errors</p>
									  <h4 class="card-title">23</h4>
								   </div>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
					<div class="col-md-3">
					   <div class="card card-stats">
						  <div class="card-body">
							 <div class="row">
								<div class="col-5">
								   <div class="icon-big text-center">
									  <i class="la la-heart-o text-primary"></i>
								   </div>
								</div>
								<div class="col-7 d-flex align-items-center">
								   <div class="numbers">
									  <p class="card-category">Followers</p>
									  <h4 class="card-title">+45K</h4>
								   </div>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">S3</h4>
							<p class="card-category">Here is a subtitle for this table</p>
						</div>
						<div class="card-body">
							<p class="demo">
								EC2 
								Elasticbeanstalk
								Lambda

							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">EBS</h4>
								<p class="card-category">Here is a subtitle for this table</p>
							</div>
							<div class="card-body">
								<p class="demo">
									EC2 
									Elasticbeanstalk
									Lambda
	
								</p>
							</div>
						</div>
					</div>
				<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">RDS</h4>
								<p class="card-category">Here is a subtitle for this table</p>
							</div>
							<div class="card-body">
								<p class="demo">
									EC2 
									Elasticbeanstalk
									Lambda
	
								</p>
							</div>
						</div>
				</div>
				<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">DynamoDB</h4>
								<p class="card-category">Here is a subtitle for this table</p>
							</div>
							<div class="card-body">
								<p class="demo">
									EC2 
									Elasticbeanstalk
									Lambda
	
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">DocumentDB</h4>
									<p class="card-category">Here is a subtitle for this table</p>
								</div>
								<div class="card-body">
									<p class="demo">
										EC2 
										Elasticbeanstalk
										Lambda
		
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Elasticache</h4>
										<p class="card-category">Here is a subtitle for this table</p>
									</div>
									<div class="card-body">
										<p class="demo">
											EC2 
											Elasticbeanstalk
											Lambda
			
										</p>
									</div>
								</div>
							</div>
			</div>
		</div>
	</div>