<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">View: {{ view.name }}</h4>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <table class="table table-hover">
                    <thead>
                        <th>Provider</th>
                        <th>Account</th>
                        <th>Region</th>
                        <th>Service</th>
                        <th style="width: 15%">Name</th>
                        <th style="width: 15%">Tags</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of filteredServices">
                            <td>
                                <img
                                    src="assets/img/aws.png"
                                    style="width: 25px"
                                    *ngIf="service.provider === 'AWS'"
                                />
                                <img
                                    src="assets/img/digitalocean.png"
                                    style="width: 25px"
                                    *ngIf="
                                        service.provider === 'DIGITALOCEAN'
                                    "
                                />
                                <img
                                    src="assets/img/gcp.png"
                                    style="width: 25px"
                                    *ngIf="service.provider === 'GCP'"
                                />
                                <span class="ml-2" *ngIf="service.provider === 'AWS'">AWS</span>
                                <span class="ml-2" *ngIf="service.provider === 'GCP'">GCP</span>
                                <span class="ml-2" *ngIf="service.provider === 'DIGITALOCEAN'">DigitalOcean</span>
                            </td>
                            <td>{{ service.account }}</td>
                            <td>{{ service.region }}</td>
                            <td>
                                <badge
                                    class="badge badge-secondary"
                                    [style.background-color]="
                                        stringToColour(service.service)
                                    "
                                    >{{ service.service }}</badge
                                >
                            </td>
                            <td>{{ service.name }}</td>
                            <td>{{ service.tags }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
