<section>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center icon-warning">
                <img src="https://cdn.komiser.io/images/ovh/data-collector.png" class="ovh-logo" />
              </div>
            </div>
            <div class="col-7 d-flex align-items-center">
              <div class="numbers">
                <p class="card-category">Data Collector</p>
                <h4 class="card-title"><span class="badge badge-info">BETA</span></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center icon-warning">
                  <img src="https://cdn.komiser.io/images/ovh/data-compute.png" class="ovh-logo" />
                </div>
              </div>
              <div class="col-7 d-flex align-items-center">
                <div class="numbers">
                  <p class="card-category">Data Compute</p>
                  <h4 class="card-title"><span class="badge badge-info">BETA</span></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center icon-warning">
                    <img src="https://cdn.komiser.io/images/ovh/data-analytics.png" class="ovh-logo" />
                  </div>
                </div>
                <div class="col-7 d-flex align-items-center">
                  <div class="numbers">
                    <p class="card-category">Analytics Data</p>
                    <h4 class="card-title"><span class="badge badge-info">BETA</span></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5">
                    <div class="icon-big text-center icon-warning">
                      <img src="https://cdn.komiser.io/images/ovh/machine-learning.png" class="ovh-logo" />
                    </div>
                  </div>
                  <div class="col-7 d-flex align-items-center">
                    <div class="numbers">
                      <p class="card-category">Machine Learning</p>
                      <h4 class="card-title"><span class="badge badge-info">BETA</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="card card-stats">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-5">
                      <div class="icon-big text-center icon-warning">
                        <img src="https://cdn.komiser.io/images/ovh/nvidia.png" class="ovh-logo" />
                      </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                      <div class="numbers">
                        <p class="card-category">NVidia NGC</p>
                        <h4 class="card-title"><span class="badge badge-info">BETA</span></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  </div>
</section>