<div class="content">
		<div class="container-fluid">
			<h4 class="page-title">Compute</h4>
			<div class="row">
					<div class="col-md-4">
					   <div class="card card-stats">
						  <div class="card-body ">
							 <div class="row">
								<div class="col-5">
								   <div class="icon-big text-center icon-warning">
									  <i class="la la-play text-success"></i>
								   </div>
								</div>
								<div class="col-7 d-flex align-items-center">
								   <div class="numbers">
									  <p class="card-category">EC2 Running</p>
									  <h4 class="card-title">{{runningEC2Instances}}</h4>
								   </div>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
					<div class="col-md-4">
					   <div class="card card-stats">
						  <div class="card-body ">
							 <div class="row">
								<div class="col-5">
								   <div class="icon-big text-center">
									  <i class="la la-stop text-warning"></i>
								   </div>
								</div>
								<div class="col-7 d-flex align-items-center">
								   <div class="numbers">
									  <p class="card-category">EC2 Stopped</p>
									  <h4 class="card-title">{{stoppedEC2Instances}}</h4>
								   </div>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
					<div class="col-md-4">
					   <div class="card card-stats">
						  <div class="card-body">
							 <div class="row">
								<div class="col-5">
								   <div class="icon-big text-center">
									  <i class="la la-trash text-danger"></i>
								   </div>
								</div>
								<div class="col-7 d-flex align-items-center">
								   <div class="numbers">
									  <p class="card-category">EC2 Terminated</p>
									  <h4 class="card-title">{{terminatedEC2Instances}}</h4>
								   </div>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			
			<div class="row">
					<div class="col-md-6">
							<div class="card">
							   <div class="card-header">
								  <h4 class="card-title">Public vs Private Instances</h4>
								  <p class="card-category">Complete</p>
							   </div>
							   <div class="card-body">
								  <div class="chart-circle mt-4 mb-3" id="instances-privacy"></div>
							   </div>
							   <div class="card-footer">
								  <div class="legend">
									 <i class="la la-circle text-primary"></i> Completed
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="col-md-6">
								<div class="card">
								   <div class="card-header">
									  <h4 class="card-title">Instance Families</h4>
									  <p class="card-category">Complete</p>
								   </div>
								   <div class="card-body">
									  <canvas class="chart-circle mt-4 mb-3" id="task-complete2"></canvas>
								   </div>
								</div>
							 </div>
			</div>
			<div class="row">
				 <div class="col-md-2">
					<div class="card card-stats card-warning card-csharp">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-csharp-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">C# Functions</p>
								   <h4 class="card-title">{{lambdaFunctions.csharp}}</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				 <div class="col-md-2">
					<div class="card card-stats card-danger">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-ruby-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">Ruby Functions</p>
								   <h4 class="card-title">{{lambdaFunctions.ruby}}</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				 <div class="col-md-2">
					<div class="card card-stats card">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-java-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">Java Functions</p>
								   <h4 class="card-title">{{lambdaFunctions.java}}</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				 <div class="col-md-2">
					<div class="card card-stats card-primary card-golang">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-go-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">Golang Functions</p>
								   <h4 class="card-title">{{lambdaFunctions.golang}}</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				 <div class="col-md-2">
					<div class="card card-stats card-warning card-python">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-python-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">Python Functions</p>
								   <h4 class="card-title">{{lambdaFunctions.python}}</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				<div class="col-md-2">
					<div class="card card-stats card-success">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-nodejs-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">Node.JS Functions</p>
								   <h4 class="card-title">{{lambdaFunctions.node}}</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Lambda Invoked</h4>
								<p class="card-category">Here is a subtitle for this table</p>
							</div>
							<div class="card-body">
								<p class="lambdaInvocationsChart">
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Lambda Duration</h4>
								<p class="card-category">Here is a subtitle for this table</p>
							</div>
							<div class="card-body">
								<p class="demo">
	
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="card card-stats card-primary card-docker">
						   <div class="card-body">
							  <div class="row">
								 <div class="col-5">
									<div class="icon-big text-center">
									   <i class="devicon-docker-plain"></i>
									</div>
								 </div>
								 <div class="col-7 d-flex align-items-center">
									<div class="numbers">
									   <p class="card-category">EKS Clusters</p>
									   <h4 class="card-title">0</h4>
									</div>
								 </div>
							  </div>
						   </div>
						</div>
					 </div>
					 <div class="col-md-4">
						<div class="card card-stats card-primary card-docker">
						   <div class="card-body">
							  <div class="row">
								 <div class="col-5">
									<div class="icon-big text-center">
									   <i class="devicon-docker-plain"></i>
									</div>
								 </div>
								 <div class="col-7 d-flex align-items-center">
									<div class="numbers">
									   <p class="card-category">EKS Tasks</p>
									   <h4 class="card-title">0</h4>
									</div>
								 </div>
							  </div>
						   </div>
						</div>
					 </div>
					 <div class="col-md-4">
						<div class="card card-stats card-primary card-docker">
						   <div class="card-body">
							  <div class="row">
								 <div class="col-5">
									<div class="icon-big text-center">
									   <i class="devicon-docker-plain"></i>
									</div>
								 </div>
								 <div class="col-7 d-flex align-items-center">
									<div class="numbers">
									   <p class="card-category">EKS Services</p>
									   <h4 class="card-title">0</h4>
									</div>
								 </div>
							  </div>
						   </div>
						</div>
					 </div>
			</div>
		</div>
	</div>