<div class="content">
		<div class="container-fluid">
			<h4 class="page-title">Compute</h4>
			<div class="row">
					<div class="col-md-4">
					   <div class="card card-stats">
						  <div class="card-body ">
							 <div class="row">
								<div class="col-5">
								   <div class="icon-big text-center icon-warning">
									  <i class="la la-pie-chart text-warning"></i>
								   </div>
								</div>
								<div class="col-7 d-flex align-items-center">
								   <div class="numbers">
									  <p class="card-category">EC2 Running</p>
									  <h4 class="card-title">150</h4>
								   </div>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
					<div class="col-md-4">
					   <div class="card card-stats">
						  <div class="card-body ">
							 <div class="row">
								<div class="col-5">
								   <div class="icon-big text-center">
									  <i class="la la-bar-chart text-success"></i>
								   </div>
								</div>
								<div class="col-7 d-flex align-items-center">
								   <div class="numbers">
									  <p class="card-category">EC2 Stopped</p>
									  <h4 class="card-title">2</h4>
								   </div>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
					<div class="col-md-4">
					   <div class="card card-stats">
						  <div class="card-body">
							 <div class="row">
								<div class="col-5">
								   <div class="icon-big text-center">
									  <i class="la la-times-circle-o text-danger"></i>
								   </div>
								</div>
								<div class="col-7 d-flex align-items-center">
								   <div class="numbers">
									  <p class="card-category">EC2 Terminated</p>
									  <h4 class="card-title">23</h4>
								   </div>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			
			<div class="row">
					<div class="col-md-6">
							<div class="card">
							   <div class="card-header">
								  <h4 class="card-title">Instance Family</h4>
								  <p class="card-category">Complete</p>
							   </div>
							   <div class="card-body">
								  <div class="chart-circle mt-4 mb-3" id="task-complete"></div>
							   </div>
							   <div class="card-footer">
								  <div class="legend">
									 <i class="la la-circle text-primary"></i> Completed
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="col-md-6">
								<div class="card">
								   <div class="card-header">
									  <h4 class="card-title">Public Instances</h4>
									  <p class="card-category">Complete</p>
								   </div>
								   <div class="card-body">
									  <div class="chart-circle mt-4 mb-3" id="task-complete"></div>
								   </div>
								   <div class="card-footer">
									  <div class="legend">
										 <i class="la la-circle text-primary"></i> Completed
									  </div>
								   </div>
								</div>
							 </div>
			</div>
			<div class="row">
				 <div class="col-md-2">
					<div class="card card-stats card-warning">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-csharp-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">C# Functions</p>
								   <h4 class="card-title">1,294</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				 <div class="col-md-2">
					<div class="card card-stats card-warning">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-ruby-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">Ruby Functions</p>
								   <h4 class="card-title">1,294</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				 <div class="col-md-2">
					<div class="card card-stats card-warning">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-java-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">Java Functions</p>
								   <h4 class="card-title">1,294</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				 <div class="col-md-2">
					<div class="card card-stats card-warning">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-go-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">Golang Functions</p>
								   <h4 class="card-title">1,294</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				 <div class="col-md-2">
					<div class="card card-stats card-warning">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-python-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">Python Functions</p>
								   <h4 class="card-title">1,294</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				<div class="col-md-2">
					<div class="card card-stats card-warning">
					   <div class="card-body">
						  <div class="row">
							 <div class="col-5">
								<div class="icon-big text-center">
								   <i class="devicon-python-plain"></i>
								</div>
							 </div>
							 <div class="col-7 d-flex align-items-center">
								<div class="numbers">
								   <p class="card-category">Custom Functions</p>
								   <h4 class="card-title">1,294</h4>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Lambda Invoked</h4>
								<p class="card-category">Here is a subtitle for this table</p>
							</div>
							<div class="card-body">
								<p class="demo">
									EC2 
									Elasticbeanstalk
									Lambda
	
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Lambda Duration</h4>
								<p class="card-category">Here is a subtitle for this table</p>
							</div>
							<div class="card-body">
								<p class="demo">
									EC2 
									Elasticbeanstalk
									Lambda
	
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="card card-stats card-warning">
						   <div class="card-body">
							  <div class="row">
								 <div class="col-5">
									<div class="icon-big text-center">
									   <i class="devicon-python-plain"></i>
									</div>
								 </div>
								 <div class="col-7 d-flex align-items-center">
									<div class="numbers">
									   <p class="card-category">EKS Clusters</p>
									   <h4 class="card-title">1,294</h4>
									</div>
								 </div>
							  </div>
						   </div>
						</div>
					 </div>
					 <div class="col-md-4">
						<div class="card card-stats card-warning">
						   <div class="card-body">
							  <div class="row">
								 <div class="col-5">
									<div class="icon-big text-center">
									   <i class="devicon-python-plain"></i>
									</div>
								 </div>
								 <div class="col-7 d-flex align-items-center">
									<div class="numbers">
									   <p class="card-category">EKS Tasks</p>
									   <h4 class="card-title">1,294</h4>
									</div>
								 </div>
							  </div>
						   </div>
						</div>
					 </div>
					 <div class="col-md-4">
						<div class="card card-stats card-warning">
						   <div class="card-body">
							  <div class="row">
								 <div class="col-5">
									<div class="icon-big text-center">
									   <i class="devicon-python-plain"></i>
									</div>
								 </div>
								 <div class="col-7 d-flex align-items-center">
									<div class="numbers">
									   <p class="card-category">EKS Services</p>
									   <h4 class="card-title">1,294</h4>
									</div>
								 </div>
							  </div>
						   </div>
						</div>
					 </div>
			</div>
		</div>
	</div>