.card-golang{
    background: #72CEDD !important;
}

.card-csharp{
    background: #9E4D99 !important;
}

.card-python{
    background: #FFD344 !important;
}

.card-docker{
    background: #009BC6 !important;
}