<div class="page">
      <!-- Main Navbar-->
      <header class="header">
        <nav class="navbar">
          <!-- Search Box-->
          <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
              <input type="search" placeholder="What are you looking for..." class="form-control">
            </form>
          </div>
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand -->
                    <a href="index.html" class="navbar-brand">
                        <div class="brand-text brand-big"><strong>K</strong><span>omiser</span></div>
                    </a>
                    <img src="assets/images/logo.svg" class="logo-komiser"/>
              </div>
              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Fork    -->
                <li class="nav-item"><a href="https://github.com/mlabouardy/komiser" target="_blank" class="nav-link logout">Fork<i class="fas fa-code-branch"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content d-flex align-items-stretch"> 
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Dashboard</h2>
            </div>
          </header>
          <!-- Dashboard Counts Section-->
          <section class="dashboard-counts no-padding-bottom">
            <div class="container-fluid">
              <div class="row bg-white has-shadow">
                <!-- Item -->
                <div class="col-xl-4 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-red"><i class="icon-padnote"></i></div>
                    <div class="title"><span>EC2<br>Stopped</span>
                      <div class="progress">
                        <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                      </div>
                    </div>
                    <div class="number"><strong>{{currentStoppedInstances}}</strong></div>
                  </div>
                </div>
                <!-- Item -->
                <div class="col-xl-4 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-green"><i class="icon-bill"></i></div>
                    <div class="title"><span>EC2<br>Running</span>
                      <div class="progress">
                        <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                      </div>
                    </div>
                    <div class="number"><strong>{{currentRunningInstances}}</strong></div>
                  </div>
                </div>
                <!-- Item -->
                <div class="col-xl-4 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-orange"><i class="icon-check"></i></div>
                    <div class="title"><span>EC2<br>Terminated</span>
                      <div class="progress">
                        <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                      </div>
                    </div>
                    <div class="number"><strong>{{currentTerminatedInstances}}</strong></div>
                  </div>
                </div>
                
              </div>
            </div>
          </section>
          <!-- Dashboard Header Section    -->
          <section class="dashboard-header">
            <div class="container-fluid">
              <div class="row">
                <!-- Statistics -->
                <div class="statistics col-lg-3 col-12">
                  <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-red"><i class="far fa-hdd"></i></div>
                    <div class="text"><strong>{{currentEBSVolumes}}</strong><br><small>EBS Volumes</small></div>
                  </div>
                  <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-green"><i class="fa fa-calendar-o"></i></div>
                    <div class="text"><strong>{{currentEBSSize}} GB</strong><br><small>EBS Size</small></div>
                  </div>
                  <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-orange"><i class="fa fa-paper-plane-o"></i></div>
                    <div class="text"><strong>{{currentSnapshot}}</strong><br><small>Snapshots Total</small></div>
                  </div>
                  <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-orange"><i class="fa fa-paper-plane-o"></i></div>
                    <div class="text"><strong>{{currentSnapshotSize}} GB</strong><br><small>Snapshots Size</small></div>
                  </div>
                  <div class="work-amount card">
                    <div class="card-body">
                      <h3>S3 Buckets</h3><small>Lorem ipsum dolor sit amet.</small>
                      <div class="chart text-center">
                        <div class="text"><strong>90</strong><br><span>TB</span></div>
                        <canvas baseChart
                            [data]="doughnutChartData2"
                            [labels]="doughnutChartLabels2"
                            [options]="doughnutChartOptions2"
                            [chartType]="doughnutChartType2"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="polar-chart-example card">
                    <div class="card-body">
                      <h3>EC2 Family</h3><small>Lorem ipsum dolor sit amet.</small>
                      <canvas baseChart height="276" *ngIf="ec2FamilliesChartData.length > 0"
                        [data]="ec2FamilliesChartData"
                        [labels]="ec2FamilliesChartLabels"
                        [legend]="ec2FamilliesChartLegend"
                        [options]="ec2FamilliesOptions"
                        [chartType]="ec2FamilliesChartType"></canvas>
                    </div>
                  </div>
                </div>
                <!-- Line Chart            -->
                <div class="chart col-lg-6 col-12">
                  <div class="pie-chart-example card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard8" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <h3>EC2 Region</h3><small>Lorem ipsum dolor sit amet.</small>
                      <div id="map"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="statistics col-lg-4 col-12">
                      <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-red"><i class="fa fa-tasks"></i></div>
                        <div class="text"><strong>{{currentVPC}}</strong><br><small>VPC</small></div>
                      </div>
                      <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-green"><i class="fa fa-calendar-o"></i></div>
                        <div class="text"><strong>{{currentACL}}</strong><br><small>ACL</small></div>
                      </div>
                      <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-orange"><i class="fa fa-paper-plane-o"></i></div>
                        <div class="text"><strong>{{currentSecurityGroup}}</strong><br><small>Security Group</small></div>
                      </div>
                    </div>
                    <div class="statistics col-lg-4 col-12">
                      <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-red"><i class="fa fa-tasks"></i></div>
                        <div class="text"><strong>{{currentNatGateway}}</strong><br><small>NAT Gateway</small></div>
                      </div>
                      <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-green"><i class="fa fa-calendar-o"></i></div>
                        <div class="text"><strong>{{currentInternetGateway}}</strong><br><small>Internet Gateway</small></div>
                      </div>
                      <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-orange"><i class="fa fa-paper-plane-o"></i></div>
                        <div class="text"><strong>{{currentElasticIP}}</strong><br><small>Elastic IP</small></div>
                      </div>
                    </div>
                    <div class="statistics col-lg-4 col-12">
                      <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-red"><i class="fa fa-tasks"></i></div>
                        <div class="text"><strong>{{currentKeyPair}}</strong><br><small>Key Pairs</small></div>
                      </div>
                      <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-green"><i class="fa fa-calendar-o"></i></div>
                        <div class="text"><strong>{{currentAutoscalingGroup}}</strong><br><small>Autoscaling Groups</small></div>
                      </div>
                      <div class="statistic d-flex align-items-center bg-white has-shadow">
                        <div class="icon bg-orange"><i class="fa fa-paper-plane-o"></i></div>
                        <div class="text"><strong>{{currentRouteTable}}</strong><br><small>Route Table</small></div>
                      </div>
                    </div>
                  </div>
                  <section class="dashboard-counts">
                <div class="container-fluid">
                  <div class="row bg-white has-shadow">
                    <!-- Item -->
                    <div class="col-xl-4">
                      <div class="item d-flex align-items-center">
                        <div class="icon bg-violet"><i class="icon-user"></i></div>
                        <div class="title"><span>Golang</span>
                          <div class="progress">
                            <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                          </div>
                        </div>
                        <div class="number"><strong>{{currentGolangLambdaFunctions}}</strong></div>
                      </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-4">
                      <div class="item d-flex align-items-center">
                        <div class="icon bg-red"><i class="icon-padnote"></i></div>
                        <div class="title"><span>Node.JS</span>
                          <div class="progress">
                            <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                          </div>
                        </div>
                        <div class="number"><strong>{{currentNodeJSLambdaFunctions}}</strong></div>
                      </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-4">
                      <div class="item d-flex align-items-center">
                        <div class="icon bg-green"><i class="icon-bill"></i></div>
                        <div class="title"><span>Python</span>
                          <div class="progress">
                            <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                          </div>
                        </div>
                        <div class="number"><strong>{{currentPythonLambdaFunctions}}</strong></div>
                      </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-5 offset-md-2">
                      <div class="item d-flex align-items-center">
                        <div class="icon bg-orange"><i class="icon-check"></i></div>
                        <div class="title"><span>Java</span>
                          <div class="progress">
                            <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                          </div>
                        </div>
                        <div class="number"><strong>{{currentJavaLambdaFunctions}}</strong></div>
                      </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-5">
                      <div class="item d-flex align-items-center">
                        <div class="icon bg-violet"><i class="icon-user"></i></div>
                        <div class="title"><span>C#</span>
                          <div class="progress">
                            <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                          </div>
                        </div>
                        <div class="number"><strong>{{currentCSharpLambdaFunctions}}</strong></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
                </div>
                <div class="chart col-lg-3 col-12">
                  <!-- Bar Chart   -->
                  <div class="overdue card">
                    <div class="card-body">
                      <h3>Total Bill</h3><small>Current month-to-date balance for {{currentDate}}.</small>
                      <div class="number text-center">{{currentBill}} {{billUnit}}</div>
                      <div class="chart">
                        <canvas baseChart *ngIf="costAndUsageChartData.length > 0"
                            [datasets]="costAndUsageChartData"
                            [labels]="costAndUsageChartLabels"
                            [options]="costAndUsageChartOptions"
                            [chartType]="costAndUsageChartType"></canvas>
                      </div>
                    </div>
                  </div>
                  <!-- Numbers-->
                  <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-red"><i class="fa fa-tasks"></i></div>
                    <div class="text"><strong>0</strong><br><small>RDS Instances</small></div>
                  </div>
                  <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-red"><i class="fa fa-tasks"></i></div>
                    <div class="text"><strong>{{currentDynamoDBTable}}</strong><br><small>DynamoDB Tables</small></div>
                  </div>
                  <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-green"><i class="fa fa-calendar-o"></i></div>
                    <div class="text"><strong>{{currentDynamoDBWriteCapacity}}</strong><br><small>Write Capacity</small></div>
                  </div>
                  <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-orange"><i class="fa fa-paper-plane-o"></i></div>
                    <div class="text"><strong>{{currentDynamoDBReadCapacity}}</strong><br><small>Read Capacity</small></div>
                  </div>

                  <div class="pie-chart-example card">
                    <div class="card-body">
                      <h3>ELB Family</h3><small>Lorem ipsum dolor sit amet.</small>
                      <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Page Footer-->
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Komiser &copy; 2017-2018</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
                  <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>