body{
    overflow-x:hidden
}
a,i,span{
    display:inline-block;
    text-decoration:none;
    -webkit-transition:all 0.3s;
    transition:all 0.3s
}
a:hover,a:focus,i:hover,i:focus,span:hover,span:focus{
    text-decoration:none
}
section{
    padding:50px 0
}
canvas{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.container-fluid{
    padding:0 30px
}
@media (max-width: 575px){
    .container-fluid{
        padding:0 15px
    }
}
header.page-header{
    padding:20px 0
}
table{
    font-size:0.9em;
    color:#666
}
.content-inner{
    position:relative;
    width:100%;
    min-height:calc(100vh - 70px);
    padding-bottom:60px
}
.content-inner.active{
    width:calc(100% - 90px)
}
.page-header{
    background:#fff;
    padding:20px;
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.1);
    box-shadow:2px 2px 2px rgba(0,0,0,0.1);
    position:relative;
    z-index:8
}
*[class*="icon-"]{
    -webkit-transform:translateY(3px);
    transform:translateY(3px)
}
button,input{
    outline:none !important
}
.card{
    margin-bottom:30px;
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.1),-1px 0 2px rgba(0,0,0,0.05);
    box-shadow:2px 2px 2px rgba(0,0,0,0.1),-1px 0 2px rgba(0,0,0,0.05)
}
.card-header{
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.05);
    box-shadow:2px 2px 2px rgba(0,0,0,0.05)
}
.card-header h1,.card-header h2,.card-header h3,.card-header h4,.card-header h5,.card-header h6{
    margin-bottom:0
}
.breadcrumb-holder{
    background:#fff
}
.breadcrumb{
    background:#fff;
    position:relative;
    z-index:7;
    border-radius:0;
    padding:15px 0;
    margin-bottom:0
}
.breadcrumb li.breadcrumb-item{
    color:#aaa;
    font-weight:300
}
.text-bold{
    font-weight:700
}
.bg-red{
    background:#ff7676 !important;
    color:#fff
}
.bg-red:hover{
    color:#fff
}
.bg-blue{
    background:#85b4f2 !important;
    color:#fff
}
.bg-blue:hover{
    color:#fff
}
.bg-yellow{
    background:#eef157 !important;
    color:#fff
}
.bg-yellow:hover{
    color:#fff
}
.bg-green{
    background:#54e69d !important;
    color:#fff
}
.bg-green:hover{
    color:#fff
}
.bg-orange{
    background:#ffc36d !important;
    color:#fff
}
.bg-orange:hover{
    color:#fff
}
.bg-violet{
    background:#796AEE !important;
    color:#fff
}
.bg-violet:hover{
    color:#fff
}
.bg-gray{
    background:#ced4da !important
}
.bg-white{
    background:#fff !important
}
.text-red{
    color:#ff7676
}
.text-red:hover{
    color:#ff7676
}
.text-yellow{
    color:#eef157
}
.text-yellow:hover{
    color:#eef157
}
.text-green{
    color:#54e69d
}
.text-green:hover{
    color:#54e69d
}
.text-orange{
    color:#ffc36d
}
.text-orange:hover{
    color:#ffc36d
}
.text-violet{
    color:#796AEE
}
.text-violet:hover{
    color:#796AEE
}
.text-blue{
    color:#85b4f2
}
.text-blue:hover{
    color:#85b4f2
}
.text-gray{
    color:#ced4da
}
.text-gray:hover{
    color:#ced4da
}
.page{
    background:#EEF5F9
}
.page .text-white{
    color:#fff
}
.no-padding{
    padding:0 !important
}
.no-padding-bottom{
    padding-bottom:0 !important
}
.no-padding-top{
    padding-top:0 !important
}
.no-margin{
    margin:0 !important
}
.no-margin-bottom{
    margin-bottom:0 !important
}
.no-margin-top{
    margin-top:0 !important
}
.page{
    overflow-x:hidden
}
.has-shadow{
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.1),-1px 0 2px rgba(0,0,0,0.05);
    box-shadow:2px 2px 2px rgba(0,0,0,0.1),-1px 0 2px rgba(0,0,0,0.05)
}
.badge{
    font-weight:400
}
.badge-rounded{
    border-radius:50px
}

nav.navbar{
    background:#2f333e;
    padding-top:15px;
    padding-bottom:15px;
    color:#fff;
    position:relative;
    border-radius:0;
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    z-index:10;
    padding-left:0;
    padding-right:0
}
nav.navbar .badge{
    width:22px;
    height:22px;
    line-height:22px;
    text-align:center;
    padding:0;
    border-radius:50%
}
nav.navbar .navbar-holder{
    width:100%
}
nav.navbar .navbar-brand .brand-small{
    display:none
}
nav.navbar .brand-big{
    display:block
}
nav.navbar .brand-small{
    display:none
}
nav.navbar a{
    color:inherit
}
nav.navbar .container-fluid{
    width:100%
}
nav.navbar .nav-item>a{
    position:relative
}
nav.navbar .nav-item>a span{
    position:absolute;
    top:0;
    right:0;
    font-weight:400;
    font-size:0.7em
}
nav.navbar .nav-item>a.logout i{
    margin-left:10px
}
nav.navbar .nav-menu{
    margin-bottom:0
}
nav.navbar .dropdown-menu{
    right:0;
    min-width:250px;
    left:auto;
    margin-top:15px;
    margin-bottom:0;
    padding:15px 0;
    max-width:400px;
    border-radius:0;
    border:none;
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.1),-2px 0 2px rgba(0,0,0,0.1);
    box-shadow:2px 2px 2px rgba(0,0,0,0.1),-2px 0 2px rgba(0,0,0,0.1);
    overflow-y: scroll;
    max-height: 300px;
}
nav.navbar .dropdown-menu a{
    background:#fff;
    padding:10px 20px;
    font-size:0.8em;
    color:#777;
    width:100%
}
nav.navbar .dropdown-menu a:hover{
    background:#f5f5f5
}
nav.navbar .dropdown-menu a i{
    width:30px;
    height:30px;
    line-height:30px;
    background:#796AEE;
    text-align:center;
    color:#fff;
    border-radius:50%;
    margin-right:10px
}
nav.navbar .dropdown-menu a small{
    margin-left:40px
}
nav.navbar .dropdown-menu span{
    position:static;
    font-size:0.9em;
    color:#999
}
nav.navbar .dropdown-menu strong{
    font-weight:700
}
nav.navbar .dropdown-menu h3{
    font-weight:500
}
@media (max-width: 1199px){
    nav.navbar .navbar-brand .brand-small{
        display:block !important
    }
    nav.navbar .brand-big{
        display:none
    }
    nav.navbar .brand-small{
        display:block
    }
}
@media (max-width: 575px){
    nav.navbar{
        font-size:14px
    }
    nav.navbar .badge{
        width:19px;
        height:19px
    }
    nav.navbar .nav-item>a{
        font-size:13px
    }
    nav.navbar .dropdown-menu{
        right:auto;
        left:-50%;
        -webkit-transform:translateX(-50%);
        transform:translateX(-50%)
    }
}
section.dashboard-counts .icon{
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    min-width:40px;
    max-width:40px;
    border-radius:50%
}
section.dashboard-counts .title{
    font-size:1.1em;
    font-weight:300;
    color:#777;
    margin:0 20px
}
section.dashboard-counts .progress{
    margin-top:10px;
    height:4px
}
section.dashboard-counts .number{
    font-size:1.8em;
    font-weight:300
}
section.dashboard-counts .number strong{
    font-weight:700
}
section.dashboard-counts .row{
    padding:30px 15px;
    margin:0
}
section.dashboard-counts div[class*='col-'] .item{
    border-right:1px solid #eee;
    padding:15px 0
}
section.dashboard-counts div[class*='col-']:last-of-type .item{
    border-right:none
}
@media (max-width: 1199px){
    section.dashboard-counts div[class*='col-']:nth-of-type(2) .item{
        border-right:none
    }
}
@media (max-width: 575px){
    section.dashboard-counts div[class*='col-'] .item{
        border-right:none
    }
}
.statistic{
    padding:20px 15px;
    margin-bottom:15px
}
.statistic:last-of-type{
    margin-bottom:0
}
.statistic strong{
    font-size:1.5em;
    color:#333;
    font-weight:700;
    line-height:1
}
.statistic small{
    color:#aaa;
    text-transform:uppercase
}
.statistic .icon{
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    min-width:40px;
    max-width:40px;
    color:#fff;
    border-radius:50%;
    margin-right:15px
}
.chart .title{
    padding:15px 0 0 15px
}
.chart .title strong{
    font-weight:700;
    font-size:1.2em
}
.chart .title small{
    color:#aaa;
    text-transform:uppercase
}
.chart .line-chart{
    width:100%;
    height:100%;
    padding:20px 0
}
.chart .line-chart canvas{
    width:calc(100% - 30px) !important
}
.chart .bar-chart{
    margin-bottom:15px
}
.chart .bar-chart canvas{
    padding:15px;
    width:100%;
    margin:0
}
@media (max-width: 991px){
    section.dashboard-header div[class*='col-']{
        margin-bottom:20px
    }
}
.project .row{
    margin:0;
    padding:15px 0;
    margin-bottom:15px
}
.project div[class*='col-']{
    border-right:1px solid #eee
}
.project .text h3{
    margin-bottom:0;
    color:#555
}
.project .text small{
    color:#aaa;
    font-size:0.75em
}
.project .project-date span{
    font-size:0.9em;
    color:#999
}
.project .image{
    max-width:50px;
    min-width:50px;
    height:50px;
    margin-right:15px
}
.project .time,.project .comments,.project .project-progress{
    color:#999;
    font-size:0.9em;
    margin-right:20px
}
.project .time i,.project .comments i,.project .project-progress i{
    margin-right:5px
}
.project .project-progress{
    width:200px
}
.project .project-progress .progress{
    height:4px
}
.project .card{
    margin-bottom:0
}
@media (max-width: 991px){
    .project .right-col{
        margin-top:20px;
        margin-left:65px
    }
    .project .project-progress{
        width:150px
    }
}
@media (max-width: 480px){
    .project .project-progress{
        display:none
    }
}
.work-amount .chart{
    margin:40px auto;
    position:relative
}
.work-amount .chart .text{
    display:inline-block;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%)
}
.work-amount .chart strong{
    font-size:1.5rem
}
.work-amount .chart span{
    color:#999;
    font-weight:300
}
.work-amount li span{
    font-size:0.85em;
    margin-bottom:10px;
    color:#777;
    display:block
}
.work-amount li span::before{
    content:'';
    display:inline-block;
    margin-right:10px;
    width:7px;
    height:7px;
    line-height:7px;
    background:#85b4f2;
    border-radius:50%
}
.overdue .chart canvas{
    width:100% !important;
    z-index:1
}
.overdue .card{
    margin-bottom:0
}
.overdue .card-body{
    padding:20px
}
.overdue .card-body small{
    font-weight:300;
    color:#aaa
}
.overdue .card-body h3{
    margin-bottom:5px
}
.overdue .number{
    font-size:1.8em;
    font-weight:400;
    color:#555;
    margin:35px 0
}
footer.main-footer{
    position:absolute;
    bottom:0;
    width:100%;
    background:#2f333e;
    color:#fff;
    padding:20px 10px
}
footer.main-footer a{
    color:inherit
}
footer.main-footer p{
    margin:0;
    font-size:0.8em
}
@media (max-width: 575px){
    footer.main-footer div[class*='col']{
        text-align:center !important
    }
}
section.charts div[class*="col-"]{
    margin-bottom:30px
}
section.charts header{
    padding:30px 0
}
section.charts div[class*="col-"]{
    margin-bottom:0
}
.line-chart-example .card-block{
    padding:20px
}
.polar-chart-example canvas{
    max-width:350px;
    max-height:350px;
    margin:20px auto
}
.pie-chart-example canvas{
    max-width:350px;
    max-height:350px;
    margin:15px auto
}
@media (max-width: 991px){
    section.charts h2{
        font-size:1rem
    }
}
.navbar{
    padding:.5rem 1rem
}
.navbar-brand{
    display:inline-block;
    padding-top:.3125rem;
    padding-bottom:.3125rem;
    margin-right:1rem;
    font-size:1.25rem
}

body{
    font-family:"Poppins",sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    background-color:#fff
}
a{
    color:#796AEE;
    text-decoration:none
}
a:focus,a:hover{
    color:#3b25e6;
    text-decoration:underline
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    margin-bottom:.5rem;
    font-family:inherit;
    font-weight:700;
    line-height:1.1;
    color:inherit
}
h1,.h1{
    font-size:1.5rem
}
h2,.h2{
    font-size:1.3rem
}
h3,.h3{
    font-size:1.2rem
}
h4,.h4{
    font-size:1.1rem
}
h5,.h5{
    font-size:1rem
}
h6,.h6{
    font-size:.8rem
}
.lead{
    font-size:1.25rem;
    font-weight:300
}
hr{
    border-top:1px solid rgba(0,0,0,0.1)
}
small,.small{
    font-size:80%;
    font-weight:400
}
mark,.mark{
    padding:.2em;
    background-color:#fcf8e3
}
.blockquote{
    padding:.5rem 1rem;
    margin-bottom:2rem;
    font-size:1.25rem;
    border-left:5px solid #796AEE
}
.blockquote-footer{
    color:#868e96
}
.blockquote-footer::before{
    content:"\2014 \00A0"
}
.text-primary{
    color:#796AEE !important
}
a.text-primary:focus,a.text-primary:hover{
    color:#503ce9 !important
}
.bg-primary{
    background-color:#796AEE !important
}
a.bg-primary:focus,a.bg-primary:hover{
    background-color:#503ce9 !important
}
.bg-secondary{
    background-color:#868e96 !important
}
a.bg-secondary:focus,a.bg-secondary:hover{
    background-color:#6c757d !important
}
.bg-success{
    background-color:#28a745 !important
}
a.bg-success:focus,a.bg-success:hover{
    background-color:#1e7e34 !important
}
.bg-info{
    background-color:#17a2b8 !important
}
a.bg-info:focus,a.bg-info:hover{
    background-color:#117a8b !important
}
.bg-warning{
    background-color:#ffc107 !important
}
a.bg-warning:focus,a.bg-warning:hover{
    background-color:#d39e00 !important
}
.bg-danger{
    background-color:#dc3545 !important
}
a.bg-danger:focus,a.bg-danger:hover{
    background-color:#bd2130 !important
}
.bg-light{
    background-color:#f8f9fa !important
}
a.bg-light:focus,a.bg-light:hover{
    background-color:#dae0e5 !important
}
.bg-dark{
    background-color:#343a40 !important
}
a.bg-dark:focus,a.bg-dark:hover{
    background-color:#1d2124 !important
}

.text-primary{
    color:#796AEE !important
}
a.text-primary:focus,a.text-primary:hover{
    color:#503ce9 !important
}
.text-secondary{
    color:#868e96 !important
}
a.text-secondary:focus,a.text-secondary:hover{
    color:#6c757d !important
}
.text-success{
    color:#28a745 !important
}
a.text-success:focus,a.text-success:hover{
    color:#1e7e34 !important
}
.text-info{
    color:#17a2b8 !important
}
a.text-info:focus,a.text-info:hover{
    color:#117a8b !important
}
.text-warning{
    color:#ffc107 !important
}
a.text-warning:focus,a.text-warning:hover{
    color:#d39e00 !important
}
.text-danger{
    color:#dc3545 !important
}
a.text-danger:focus,a.text-danger:hover{
    color:#bd2130 !important
}
.text-light{
    color:#f8f9fa !important
}
a.text-light:focus,a.text-light:hover{
    color:#dae0e5 !important
}
.text-dark{
    color:#343a40 !important
}
a.text-dark:focus,a.text-dark:hover{
    color:#1d2124 !important
}

code{
    padding:.2rem .4rem;
    font-size:90%;
    color:#bd4147;
    background-color:#f8f9fa;
    border-radius:.25rem
}
a>code{
    padding:0;
    color:inherit;
    background-color:inherit
}
.nav-link{
    padding:.5rem 1rem
}
.nav-link.disabled{
    color:#868e96
}
.card{
    background-color:#fff;
    border:0 solid #eee;
    border-radius:0
}
.card>.list-group:first-child .list-group-item:first-child{
    border-top-left-radius:0;
    border-top-right-radius:0
}
.card>.list-group:last-child .list-group-item:last-child{
    border-bottom-right-radius:0;
    border-bottom-left-radius:0
}
.card-body{
    padding:1.25rem
}
.card-title{
    margin-bottom:1rem
}
.card-subtitle{
    margin-top:-.5rem
}
.card-link+.card-link{
    margin-left:1.25rem
}
.card-header{
    padding:1rem 1.25rem;
    background-color:#fff;
    border-bottom:1px solid #eee
}
.card-header:first-child{
    border-radius:0 0 0 0
}
.card-header-transparent{
    background-color:rgba(0,0,0,0.3);
    border-bottom:none
}
.card-footer{
    padding:1rem 1.25rem;
    background-color:#f8f9fa;
    border-top:1px solid #eee
}
.card-footer:last-child{
    border-radius:0 0 0 0
}
.card-header-tabs{
    margin-right:-.625rem;
    margin-bottom:-1rem;
    margin-left:-.625rem;
    border-bottom:0
}
.card-header-pills{
    margin-right:-.625rem;
    margin-left:-.625rem
}
.card-img-overlay{
    padding:1.25rem
}
.card-img-overlay-opacity{
    background:rgba(0,0,0,0.2)
}
.card-img{
    border-radius:0
}
.card-img-top{
    border-top-left-radius:0;
    border-top-right-radius:0
}
.card-img-bottom{
    border-bottom-right-radius:0;
    border-bottom-left-radius:0
}
.card-deck .card{
    margin-bottom:15px
}
@media (min-width: 576px){
    .card-deck{
        margin-right:-15px;
        margin-left:-15px
    }
    .card-deck .card{
        margin-right:15px;
        margin-left:15px
    }
}


body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background: white !important;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    background: white !important;
    height: 74px;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
    background: white !important;
  }

  #sidebar-wrapper .list-group > a {
    background: white !important;
  }

  #sidebar-wrapper .list-group > a {
      padding-top: 30px;
      padding-bottom: 30px;
  }
  
  #sidebar-wrapper .list-group > a:hover {
      background: #2F333E !important;
      color: white;
  }

.sidebar-icon{
    margin-right: 10px !important;
}

  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }