<section>
  <div class="row">
    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center icon-warning">
                  <img src="https://cdn.komiser.io/images/ovh/ip.png" class="ovh-logo" />
              </div>
            </div>
            <div class="col-7 d-flex align-items-center">
              <div class="numbers">
                <p class="card-category">Cloud IP</p>
                <h4 class="card-title" *ngIf="!loadingCloudIps">{{cloudIps}}</h4>
                <div class="spinner-border spinner-border-sm text-muted" *ngIf="loadingCloudIps"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                  <img src="https://cdn.komiser.io/images/ovh/network.png" class="ovh-logo" />
              </div>
            </div>
            <div class="col-7 d-flex align-items-center">
              <div class="numbers">
                <p class="card-category">Public Networks</p>
                <h4 class="card-title" *ngIf="!loadingPublicNetworks">{{publicNetworks}}</h4>
                <div class="spinner-border spinner-border-sm text-muted" *ngIf="loadingPublicNetworks"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                  <img src="https://cdn.komiser.io/images/ovh/network.png" class="ovh-logo" />
              </div>
            </div>
            <div class="col-7 d-flex align-items-center">
              <div class="numbers">
                <p class="card-category">Private Networks</p>
                <h4 class="card-title" *ngIf="!loadingPrivateNetworks">{{privateNetworks}}</h4>
                <div class="spinner-border spinner-border-sm text-muted" *ngIf="loadingPrivateNetworks"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                  <img src="https://cdn.komiser.io/images/ovh/vrack.png" class="ovh-logo" />
              </div>
            </div>
            <div class="col-7 d-flex align-items-center">
              <div class="numbers">
                <p class="card-category">vRack</p>
                <h4 class="card-title" *ngIf="!loadingVRacks">{{vRacks}}</h4>
                <div class="spinner-border spinner-border-sm text-muted" *ngIf="loadingVRacks"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                  <img src="https://cdn.komiser.io/images/ovh/ip.png" class="ovh-logo" />
              </div>
            </div>
            <div class="col-7 d-flex align-items-center">
              <div class="numbers">
                <p class="card-category">Failover IP</p>
                <h4 class="card-title" *ngIf="!loadingFailoverIps">{{failoverIps}}</h4>
                <div class="spinner-border spinner-border-sm text-muted" *ngIf="loadingFailoverIps"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>